@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&family=Noto+Sans+Symbols:wght@300&display=swap');

body {
    margin: 0;
    font-weight: 350;
    color: blueviolet;
    background-color: black;
}

.option-box,
.game-board {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    max-width: 330px;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 25px 15px;
    border-radius: 5px;
}

.option-box {
    background: rgb(64, 237, 159);
    color: blueviolet;
    display: none;
}

.option-box button {
    font-weight: bold;
    padding: 8px 15px 8px;
    cursor: pointer;
    border-radius: 5px;
    background: blueviolet;
    color: rgb(64, 237, 159);
    transition: all 0.3s ease;
}

.option-box button:hover {
    transform: scale(1.30);
}

.btn-playerX {
    float: left;
    margin-bottom: 8px;
}

.btn-playerX {
    float: right;
    margin-bottom: 8px;
}

.game-board .details {
    background: whitesmoke;
    padding: 7px;
    border-radius: 5px;
}

.game-board section {
    display: flex;
}

.game-board section span {
    display: block;
    margin: 3px;
    height: 100px;
    width: 100px;
    background: rgb(64, 237, 159);
    text-align: center;
    line-height: 110px;
    font-size: 90px;
    font-weight: bolder;
    color: blueviolet;
}

.game-board .details .players {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.game-board .details span  {
    position: relative;
    width: 100%;
    font-weight: bold;
    padding: 7px 0;
    cursor: default;
    border-radius: 5px;
    color: blueviolet;
    text-align: center;
    z-index: 5;
}

.details span:first-child {
    color: rgb(64, 237, 159);
}

.details .slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: blueviolet;
    border-radius: 5px;
    z-index: 2;

}

.game-board .playing-area {
    margin-top: 15px;
}

.game-board .score-area span  {
    position: relative;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 8px;
    margin-top: 5px;
    cursor: default;
    color: rgb(64, 237, 159);
    background: blueviolet;;
    text-align: center;
}

.game-board .score-area {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}
