@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk&family=Noto+Sans+Symbols:wght@300&display=swap');

/* main view setup*/
* {
    transition: 0.2s ease-in-out;
    user-select: none;
}

html {
    min-height: 100%;
    position: relative;

}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    font-weight: 350;
    color: #581296 ;
    background-color: #E1E0E0;
    text-align: center;

}

/* header */
header {
    left: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    position: relative;
}

.head {
    position: relative;
    width: 100%;
}

.logo {
    top: 8px;
    position: relative;
    float: left;
    width: 10%;
    max-width: 70px;
}

.heading {
    position: fixed;
    top: 30px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    max-width: 330px;
    font-size: 17px;
    text-align: center;
}


.option-box {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    max-width: 320px;
    line-height: 25px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 3px 25px 15px;
    border-radius: 5px;
    
}

.option-box.hide {
    opacity: 0;
    pointer-events: none;
}

.rules-box {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    background-color: #E1E0E0;
    border: 2px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000; /* Ensure it's on top of other content */
    display: none; /* Hidden initially */
}

.rules-box.show {
    display: block; /* Show when needed */
}

.btn-start {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
}

.won-text-box {
    position: relative;
    width: 100%;
    padding: 0.1px;
    line-height: 12px;
    max-width: 150px;
    margin: 2px auto;
    font-size: 14px;
    border-radius: 3px;
}

.won-text-box button {
    margin-bottom: 5px;
    
}

.option-box,
.won-text-box {
    background: #40ED9F;
    text-align: center;
    border:solid #581296;
}



.option-box button,
.won-text-box button {
    position: relative;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background: #581296;
    color: #40ED9F;
    transition: all 0.3s ease;
}



.play-X {
    float: left;
    margin-bottom: 8px;
}

.play-O {
    float: right;
    margin-bottom: 8px;
}

#game-container {
    top: 40%;
    left: 50%;
    width: 75%;
    max-width: 320px;
    max-height: 75%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
}

#game-container.show {
    width: 75%;
    max-width: 320px;
    opacity: 1;
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
}

.turns-Container {
    width: 150px;
    height: 60px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turns-Container h3 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;

}

.turns-Container .turn {
    border: 2px solid #581296 ;
    font-size: 20px;
    font-weight: lighter;
}

.turns-Container .turn:nth-child(even) {
    border-right: none;
}

.slider {
    position: absolute;
    left:50%;
    top: 50%;
    width: 50%;
    margin: 0 auto;
    height: 50%;
    background-color: #40ED9F;
    z-index: -1;
}
.details{
    position: relative;
    margin: 0;
    display: flex;
}
.playing-area{
    position: relative;
    margin: 0;
    display: flex;
}
.cellBox {
    width: 100%;
    height: 100%;
    font-size: 50px;
    line-height: 75px;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 0 2px;
}

#boxContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 230px;
    max-height: 330px;
    width: 230px;
    max-width: 330px;
    border: 2px solid;
    margin: 0px auto;
    background-color: #40ED9F;
    position: relative;
}

.cellBox:hover {
    background-color: #581296;
}

ul{
    list-style: none;
    text-align: center;
}

/* footer*/
footer {
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 100%;
    font-size: 14px;
    text-align: center;
    background-color: whitesmoke;
    color: black;
}

.hide {
    display: none;
}

.show {
    display: block;
}